{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intital-scale=1.0">
        <meta http-quiv="X-UA-Compatible" content="IE-edge">
        <title>Home</title>
        <link rel="Stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <!--header section start-->
    <header class="header">
       <a href="#" class="logo"><i class="fa fa-heartbeat"></i>Website name</a>
       <nav class="navbar">
            <a href="#home">home</a>
            <a href="#services">services</a>
            <a href="#contact">contact</a>
            <a href="#about">about</a>
            <a href="#login">Login</a>
            <a href="#signup">Signup</a>
       </nav>

       <div id="menu-btn" class="fa fa-bars">

       </div>
    </header>
    <!--header section end-->

    <!-- home section start -->
    <section class="home" id="home">
        <div class="image">
            <img src="{% static 'image/home-img.svg' %}" alt="img">
        </div>  

        <div class="content">
             <h3>stay safe, stay healthy</h3>
             <p>Add some desription here</p>
             <a href="#" class="btn">Contact Us<span class="fa fa-hevron-right"></span></a>
        </div>
    </section>
    <!-- home section end -->

    <!-- icon section start -->
    <section class="icons-container">
        <div class="icons">
            <i class="fa fa-user-md"></i>
            <h3>140+</h3>
            <p>Doctors at work</p>
        </div>

        <div class="icons">
            <i class="fa fa-users"></i>
            <h3>1040+</h3>
            <p>Satiesfied Patients</p>
        </div>

        <div class="icons">
            <i class="fa fa-procedures"></i>
            <h3>500+</h3>
            <p>Bed facility</p>
        </div>
    
        <div class="icons">
            <i class="fa fa-hospital"></i>
            <h3>80+</h3>
            <p>Available Hospitals</p>
        </div>

    </section>

    <!-- icon section end -->

    <!-- service section start -->
    <section class="services" id="services">
        <h1 class="heading"> our <span>services</span></h1>

        <div class="box-container">
            <div class="box">
                <i class="fa fa-notes-medical"></i>
                <h3>Free checkups</h3>
                <p>Add some information here</p>
                <a href="#" class="btn"> learn more<span class="fa fa-chevron-right"></span></a>
            </div>
        

             <div class="box">
                <i class="fa fa-ambulance"></i>
                <h3>24/7 ambulance</h3>
                <p>Add some information here</p>
                <a href="#" class="btn"> learn more<span class="fa fa-chevron-right"></span></a>
            </div>

            <div class="box">
                <i class="fa fa-user-md"></i>
                <h3>Expert Doctors</h3>
                <p>Add some information here</p>
                <a href="#" class="btn"> learn more<span class="fa fa-chevron-right"></span></a>
            </div>

            <div class="box">
                <i class="fa fa-pills"></i>
                <h3>Medicines</h3>
                <p>Add some information here</p>
                <a href="#" class="btn"> learn more<span class="fa fa-chevron-right"></span></a>
            </div>

            <div class="box">
                <i class="fa fa-procedures"></i>
                <h3>Bed-faciltiy</h3>
                <p>Add some information here</p>
                <a href="#" class="btn"> learn more<span class="fa fa-chevron-right"></span></a>
            </div>

            <div class="box">
                <i class="fa fa-heartbeat"></i>
                <h3>Total Care</h3>
                <p>Add some information here</p>
                <a href="#" class="btn"> learn more<span class="fa fa-chevron-right"></span></a>
            </div>
         </div>
    </section>
    <!-- service section end -->

    <!-- javascript section start -->
    <script>
        let menu = document.querySelector('#menu-btn');
        let navbar = document.querySelector('.navbar');

        menu.onclick = () => {
            menu.classList.toggle('.navbar');
            navbar.classList.toggle('active');
        }

        window.onscroll = () => {
            menu.classList.remove('fa-bars');
            navbar.classList.remove('active');
        }
    </script>
    <!-- javascript section end -->
</body>
</html>